<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.branchapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      <!-- Branch URI Scheme -->
        <intent-filter>
            <data android:scheme="BranchApp" />
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>

            <!-- Branch App Links (optional) -->
        <intent-filter android:autoVerify="true">
             <action android:name="android.intent.action.VIEW" />
             <category android:name="android.intent.category.DEFAULT" />
             <category android:name="android.intent.category.BROWSABLE" />
             <data android:scheme="https" android:host="bb3iz.app.link" />
        </intent-filter>
      </activity>
      <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_ng0aP1gIc9gl7E2qkNYTrhcmDygRqa4a"/>
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_ci3eH7kVc5jcWr7xeT0YYkogEDcKEpYw"/>
    </application>
</manifest>
